

body, html  {
	background-color: #9DC2C4 !important;
	margin:0;
	overflow-x: scroll !important; 
}

.title{
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	width: 100%;
	max-width: 768px;
	margin:auto;
	height: 90px;
	padding-top: 1px;
	text-align: center;
}

.tweet-container{
	color: #292f33;
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	width: 100%;
	max-width: 768px;
	margin:auto;
	display:table;
}

.tweet-container.ng-enter,.tweet-container.ng-move {
	opacity:0;
	-webkit-transition:all linear 1s;
  	transition:all linear 1s;

	/*transform-style: preserve-3d;
	transition: all 400ms ease 0s;
    transform: translate3d(0px, 105%, 0px) rotateX(90deg);
    transform-origin: 50% 0 0;
    perspective: 300px;
    perspective-origin: 50% 50%;

    -webkit-transform-style: preserve-3d;
	-webkit-transition: all 400ms ease 0s;
    -webkit-transform-origin: 50% 0 0;
    -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    -webkit-perspective: 300px;
    -webkit-perspective-origin: 50% 50%;*/
}

.tweet-container.ng-enter.ng-enter-active,.tweet-container.ng-move.ng-move-active {
  opacity:1;
}

.tweet-author{
	font-weight: bold;
}

.tweet-date{
	font-style: italic;
	font-weight: normal;
	font-size: 10px;
}

.tweet-content{
	display:table-cell;
	padding-top: 5px;
	padding-bottom: 5px;
	width:100%;
	text-align: left;
	vertical-align: top;
}

.tweet-profile-image{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}

.roll > span:after {
    background: none repeat scroll 0 0 #a533fd;
    color: white;
    content: attr(data-title);
    display: block;
    left: 0;
    padding: 0 2px;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    transform-origin: 50% 0 0;
    white-space: nowrap;
}

.roll > span {
    display: block;
    padding: 0 2px;
    pointer-events: none;
    position: relative;
    transform-origin: 50% 0 0;
    transform-style: preserve-3d;
    transition: all 400ms ease 0s;
}