<!doctype html>
<html ng-app='twitterSocketStreamApp'>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/angular/lib/angular.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-socket-io/socket.min.js"></script>
    <script src="/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
    <script src="/twitterFilterController.js"></script>
</head>

<body>
    <div ng-controller="twitterFilterController">
        <div class="title">
            <form ng-submit="search(filter)">
                <div class="left-inner-addon" ng-class="{shift: searchOnce}">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" ng-model="filter" class="form-control" placeholder="Twitter Filter !" />
                </div>
            </form>
            <div class="pause-button" ng-show="state == 'started'" ng-click="pause()"></div>
            <div class="start-button" ng-show="state == 'paused'" ng-click="start()"></div>
        </div>
        <div class="tweet-container" ng-repeat="tweet in tweets | reverse">
            <div class="tweet-card" ng-class="{flipped: isFlippedCard(tweet.id)}">
                <div class="tweet-card-front">
                    <div class="tweet-profile-image" ng-click="toggleTweetCard(tweet.id)">
                        <img ng-src="{{tweet.authorImage}}">
                    </div>
                    <div class="tweet-content">
                        <div class="tweet-author">@{{tweet.author}}
                            <span class="tweet-date">({{tweet.date}})</span>&nbsp;:
                        </div>
                        <div class="tweet-text">{{tweet.text}}</div>
                    </div>
                </div>
                <div class="tweet-card-back" ng-click="toggleTweetCard(tweet.id)">
                    <div class="tweet-author-details">
                        <div class="tweet-author-name">{{tweet.authorName}}</div>
                        <div class="tweet-author-description">{{tweet.authorDescription}}</div>
                    </div>
                    <div class="tweet-author-ff">Following/Followers : {{tweet.authorNbFollowing}}/{{tweet.authorNbFollowers}}</div>
                </div>
            </div>
        </div>
</body>

</html>